body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121c28;
  }
  .btn{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff0d;
     overflow: hidden;
     position: relative;
     color: #fff;
     font-weight: 700;
     padding: 17px 50px;
     font-size: 20px;
     box-shadow: 0 5px 15px #00000033;
     border-radius: 25px;
     position: relative;
     text-decoration: none;
    
  }
  .btn samp{
    position: relative;
    z-index: 1;
  }
  .btn::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #0851fa;
    -webkit-transition: all .5s ease-in-out;
    transition: .5s;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);

  }
  .btn:hover::after{
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);

  }
  main
  {
    color: #fff;
  }
